<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.beyond.university.subject.model.mapper.SubjectMapper">

	<resultMap id="subjectResultMap" type="Subject">
		<id property="no" column="SUBJECT_NO"/>
		<result property="deptNo" column="DEPARTMENT_NO"/>
		<result property="preattendingNo" column="PREATTENDING_SUBJECT_NO"/>
		<result property="name" column="SUBJECT_NAME"/>
		<result property="type" column="SUBJECT_TYPE"/>
	</resultMap>

    <select id="selectSubjectSubjectNo" parameterType="string" resultMap="subjectResultMap">
		SELECT subject_no,
			   department_no,
			   preattending_subject_no,
		 	   subject_name,
		 	   subject_type
		FROM subject
		WHERE subject_no = #{subjectNo}
	</select>
</mapper>